<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Binding Of Isaac</title>
    <link rel="icon" type="image/x-icon" href="BOI.webp" />
    <link rel="shortcut icon" type="image/x-icon" href="BOI.webp" />
    <script src="swf-loader.js"></script>
  </head>
  <body>
    <div id="ruffle" width="100%" height="100%"></div>
    <script src="https://cdn.jsdelivr.net/npm/@ruffle-rs/ruffle@0.2.0-nightly.2026.3.28/ruffle.min.js"></script>
  </body>
</html>
