<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Binding Of Isaac</title>
    <link rel="icon" type="image/x-icon" href="BOI.webp" />
    <link rel="shortcut icon" type="image/x-icon" href="BOI.webp" />
  </head>
  <body>
    <div id="ruffle" width="100%" height="100%"></div>
    <script src="https://cdn.jsdelivr.net/npm/@ruffle-rs/ruffle@0.2.0-nightly.2026.3.28/ruffle.min.js"></script>
    <script>
      const originalFetch = window.fetch;
      let requests = [];
      let loaded = 0;
      let swfUrl = "";
      function mergeParts(base, count) {
        for (let i = 1; i <= count; i++) {
          requests.push(
            fetch(base + ".part" + i).then(async (r) => {
              if (!r.ok) throw new Error("Missing part: " + base + ".part" + i);
              const buf = await r.arrayBuffer();
              loaded++;
              return buf;
            }),
          );
        }
        return Promise.all(requests).then((buffers) => {
          return URL.createObjectURL(new Blob(buffers));
        });
      }

      swfUrl = mergeParts("swf.swf", 3);
      async () => {
        window.fetch = async function (url, ...args) {
          if (url.endsWith(".swf")) return originalFetch(swfUrl, ...args);

          return originalFetch(url, ...args);
        };
      };
      window.RufflePlayer = window.RufflePlayer || {};
      window.addEventListener("load", (event) => {
        const ruffle = window.RufflePlayer.newest();
        const player = ruffle.createPlayer();
        const container = document.getElementById("ruffle");
        player.id = "player";
        player.style.width = "100%";
        player.style.height = "100%";
        container.appendChild(player);
        player.load("tboiwotl-v1.666.swf");
      });
    </script>
  </body>
</html>
